
body { 
    margin: 0; 
}

canvas {
    position: absolute;
}

button.link {
    background: none;
    border: 1px solid gray;
}

button.link:hover {
    background: rgba( 0, 0, 0, 0.2 );
}

button.link#singlePlayer {
    padding-left: 21px;
    padding-right: 21px;
}

button#localMultiplayer {
    padding-left: 10px;
    padding-right: 10px;
}

button#onlineMultiplayer {
    padding-left: 6px;
    padding-right: 6px;
}

button.gameUI {
    background: none;
    border: 1px solid black;
    
}

.absolute {
    position: absolute;
}

@media only screen and (min-width: 992px)  {
    .overlay {
        width: 100%;
        top: 50%;
    }
}

@media only screen and (max-width: 991px)  {
    .overlay {
        width: 100%;
        top: 25%;
    }
}

.centerDiv {
    left: 50%;
    transform: translate( -50%, 0 );
}

.verticalCenter {
    transform: translate( 0, -50% );
}

.horizontalCenter {
    /*transform: translate( -50%, 0 );*/
    text-align: center;
}

.bottom {
    bottom: 0%;
}

.centerDiv #mainTitle {
    font-size: 40px;
}

.centerDiv #attribution {
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.blackBorder {
    outline: 1px solid black;
}

.above {
    z-index: 1000;
}

.top-left {
    top: 1%;
    left: 1%;
}

.permenant {
    display: inline-block;
}

.temporary {
    display: inline-block;
}

#start-hidden {
    display: none;
}

#online-overlay {
    display: none;
}

#create-room-overlay {
    display: none;
}

#join-room-overlay {
    display: none;
}


#turn-display{
    font-size: 32px;
}

#name1-display{
    font-size: 32px;
}

#name2-display{
    font-size: 32px;
}

#room-display{
    font-size: 18px;
}

#room-number-input{
    width: 36px;
    border: 1px solid #999;
    padding-left: 1px;
    text-align: center;
}

#username-input {
    width: 150px;
    border: 1px solid #999;
}